.profile-wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    min-height: 22rem;
    padding: 2rem 1rem 1rem 19rem;
    background-color: rgba(255, 255, 255, 0.7);
    word-wrap: break-word;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.profile-user-photo {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 15rem;
    height: 15rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px ridge #FFFFE6;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}

.user-photo-change:hover {
    border-color: #EB8270;
    cursor: pointer;
}

.profile-data-section {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    padding-bottom: .2rem;
}

.profile-settings-button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.3rem;
    height: 1.3rem;
    background: url(https://image.flaticon.com/icons/svg/126/126472.svg) no-repeat center;
    background-size: 1.3rem;
}

.profile-data-section:not(.data-section-headline) {
    border-color: rgba(56, 56, 56, 0.4);
}

.data-section-headline {
    font-size: 1.3rem;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
}

.data-section-headline, .profile-data-name {
    font-weight: bold;
}

.profile-data-name, .profile-data-value {
    display: block;
}

.profile-data-name {
    width: 30%;
    margin-right: 4%;
    float: left;
}

.profile-data-value {
    display: table-cell;
    position: relative;
    width: 50%;
    color: rgb(56, 56, 56);
    white-space: nowrap;
}

.profile-data-value .authorizate-input {
    color: rgb(56, 56, 56);
    float: left;
}

.profile-data-value .authorizate-input, .profile-data-value .div-select-list {
    width: 100%;
}

.profile-data-section:last-child {
    border-bottom: none;
}

#profile-user-photo {
    display: none;
}

.profile-data-headline {
    display: block;
    width: 30%;
}

.profile-input-editable {
    width: 50%;
    outline: 0;
    border: 0;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-x: hidden;
    cursor: text;
}

.profile-input-editable:focus {
    background-color: rgb(255, 200, 117);
}

.pdata-value-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 66%;
}

.profile-data-section .custom-checkbox-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    margin-left: .5rem;
}

.profile-data-section .custom-checkbox-button {
    background-size: 2rem;   
}

.profile-edit-button {
    width: 30%;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: #EB8270;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease 0s;
    -webkit-transition: background-color .5s ease 0s;
    -o-transition: background-color .5s ease 0s;
    -moz-transition: background-color .5s ease 0s;
}

.profile-edit-button:hover {
    background-color: rgb(255, 200, 117);
}

.profile-data-wrapper .error-input {
    z-index: 4;
}

.profile-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 0;
    padding: 0;
    outline: 0;
    padding: .5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.profile-textarea::-webkit-scrollbar {
    width: .2rem;
    background-color: transparent;
}

.profile-textarea::-webkit-scrollbar-thumb {
    width: .2rem;
    background-color: #696969;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.profile-textarea::-webkit-scrollbar-track {
    width: .2rem;
    background-color: transparent;
}

.profile-clear-checkbox .custom-checkbox-wrapper {
    width: 2rem;
    height: 2rem;
}

.not-authorized {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    font-size: 1.2rem;
}

.data-user-value {
    display: block;
    white-space: pre-wrap;
    float: left;
}